<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
      include ../static/style.css
    <!-- <title>pug</title> -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Fill up the form to become a member of this website !</h2>

        <p>
        <!-- | #{content}
        | <p>This is how we add lines in pug</p> -->
        <form action = "/" method="post" id="contact">
            <input type="text" name = "name" id="name" placeholder="Enter your name">
            <input type="number" name="age" id="age" placeholder="Enter your age">
            <input type="text" name="gender" id="gender" placeholder="Enter your gender">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="type your address"></textarea>
            <button class="btn">Submit</button>
        </form>
    </div>
    
</body>
</html>